.all {
    background-color: white;
    height: 100%;
    padding: 4px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

span {
    /* color: blue; */
}

.all h3 {
    font-weight: bold;
    font-weight: 800;
    line-height: 28px;
}

.school_parag {
    font-size: 0.625em;
    text-align: center;
}

.classfont {
    font-weight: 900;
    margin-top: 0.35em;
}

.classdown {
    font-size: 0.8em;
    margin-left: 3.5em;
}

.schooldiv {
    background-color: #FDFDFC;
    border-radius: 20px;
    margin-top: 2.5em;
    padding: 2em;
    margin-bottom: 0.4375em;
}

img {
    margin-right: 0.625em;
}

.btn_version {
    background-color: #0968FF;
    color: white;
    border-color: transparent;
    padding: 1em;
    text-align: center;
    border-radius: 1.25em;
    width: 100%;
}

.menuleft :hover {
    background-color: #F9F9F9;
    border-left-width: 4px;
    border-left-color: #0968FF;
}