body {
    background-color: #F4F5F8;
    padding-right: 20px;
}

.container-1 {
    vertical-align: middle;
    position: relative;
    border-radius: 50%;
}

.container-1 input#search {
    width: 200px;
    height: 50px;
    border: none;
    font-size: 16px;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 30px;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-1 .icon {
    position: absolute;
    top: -4px;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

.notification {
    background-color: white;
    padding: 15px 0px 15px 10px;
    border-radius: 650px;
    text-align: center;
}

.all {
    padding: 30px;
}

.budget {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.rasxodi {
    background-color: white;
    border-radius: 20px;
    padding: 20px;   
}
.secondrow{
    margin-top: 15px;
}

.balans_v_budjete {
    background-color: white;
    border-radius: 20px;
    padding: 20px;   
}

.rasxodi_na_meropriyatiya {
    background-color: white;
    border-radius: 20px;
    padding: 20px;   
}

.meropriyatiya {
    background-color: white;
    border-radius: 20px;
    padding: 20px;    
}

.balans_na_pitanii {
    background-color: white;
    border-radius: 20px;
    padding: 20px;  
}

.qolosovanie {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.proqolosovalo {
    background-color: #0968FF;
    color: white;
    border-color: transparent;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.progress {
    height: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

span {
    font-weight: 700;
}

.meromriyatiyaimg {
    width: 30px;
    margin-top: 10px; 
}

.meromriyatiyafont {
    font-size: 35px;
    font-weight: 700;
}

.btnclick {
    background-color: transparent;
    border-color: transparent;
}

.kalendar {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.rightfont {
    font-weight: 700;
}

.rightimg {
    width: 100%;
}

.users {
    text-align: center;   
}

.allmerop {
    text-align: center;
    width: 100%;
    border-color: transparent;
}

.lefttop {
    margin-top: 15px;
}